write-kubeconfig-mode: {{ .WriteKubeconfigMode | default "0644" }}
{{ if .TlsSan }}
tls-san: {{ .TlsSan }}
{{ end }}
{{ if .Disable }}
disable: {{ .Disable }}
{{ end }}
{{ if .DataDir }}
data-dir: {{ .DataDir }}
{{ end }}
{{ if .DefaultLocalStoragePath }}
default-local-storage-path: {{ .DefaultLocalStoragePath }}
{{ end }}
